<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
<!--
    <logging>
        <log type="coverage-html" target="tests/coverage" showUncoveredFiles="true" />
    </logging>
sudo pecl install xdebug

PHP_VER=7.2
PHP_INI=/etc/php/$PHP_VER/cli/
PHP_INI=/etc/php/$PHP_VER/fpm/
sudo nano $PHP_INI

add

zend_extension=/usr/lib/php/20170718/xdebug.so
xdebug.mode = coverage
-->
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="false"/>

        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="test"/>
        <env name="DB_USERNAME" value="unit"/>
        <env name="DB_PASSWORD" value="6AfKR2yofy6iEZyCktxV2uV3mW84GiFL"/>

        <env name="PSC_DB_CONNECTION" value="mysql"/>
        <env name="PSC_DB_DATABASE" value="test"/>
        <env name="PSC_DB_USERNAME" value="unit"/>
        <env name="PSC_DB_PASSWORD" value="6AfKR2yofy6iEZyCktxV2uV3mW84GiFL"/>

        <env name="USU_DB_CONNECTION" value="mysql"/>
        <env name="USU_DB_DATABASE" value="test"/>
        <env name="USU_DB_USERNAME" value="unit"/>
        <env name="USU_DB_PASSWORD" value="6AfKR2yofy6iEZyCktxV2uV3mW84GiFL"/>

        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
</phpunit>
